<!-- <p class="col-2 text-truncate" appTruncatedTextTooltip ngbTooltip>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit, explicabo? Omnis libero aut, alias id, architecto quas harum earum iusto aspernatur quibusdam facere ipsa ullam provident eligendi quis accusamus sequi.</p>
<router-outlet></router-outlet> -->
<div class="container my-4">
  <div class="row">
    <div class="col-md-6">
      <ul><h1>Truncated text using directive</h1></ul>
      <li class="col-md-4 text-truncate my-2" appTruncatedTextTooltip ngbTooltip>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid amet quasi doloremque odit totam sequi itaque sapiente corrupti blanditiis nihil impedit alias modi, consectetur facere a laudantium at ad fugiat.</li>
      <li class="col-md-4 text-truncate my-2" appTruncatedTextTooltip ngbTooltip>Todday i made this application for understanding the directive better</li>
      <li class="col-md-4 text-truncate my-2" appTruncatedTextTooltip ngbTooltip>I am Arpita.</li>
      <li class="col-md-4 text-truncate my-2" appTruncatedTextTooltip ngbTooltip>Lets plan something. We can go and chiil there , have some food also.</li>
      <li class="col-md-4 text-truncate my-2" appTruncatedTextTooltip ngbTooltip>The bike looks cool.</li>
    </div>
    <div class="col-md-6">
      <ul><h1>Truncated text not using directive</h1></ul>
      <li class="col-md-4 text-truncate" ngbTooltip="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum accusamus ut quia, eaque odit ipsam animi. Illo temporibus dolores odio aut expedita quia alias saepe tempore provident illum! Quos, eaque!
      ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid amet quasi doloremque odit totam sequi itaque sapiente corrupti blanditiis nihil impedit alias modi, consectetur facere a laudantium at ad fugiat.</li>
      <li class="col-md-4 text-truncate my-2" ngbTooltip="Todday i made this application for understanding the directive better">Todday i made this application for understanding the directive better</li>
      <li class="col-md-4 text-truncate my-2" ngbTooltip="I am Arpita">I am Arpita.</li>
      <li class="col-md-4 text-truncate my-2" ngbTooltip="Lets plan something. We can go and chiil there , have some food also.">Lets plan something. We can go and chiil there , have some food also.</li>
      <li class="col-md-4 text-truncate my-2" ngbTooltip="The bike looks cool">The bike looks cool.</li>
    </div>
  </div>
</div>